body {
    background-color: #222222;
    color: #eeeeee;
    font-size: 36px;
}

a {
    color: #9999ff;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td, button {
    font-size: 36px;
    padding: 6px 15px;
}

tr:nth-child(even) {background-color: #220022;}

tr:nth-child(odd) {background-color: #002200;}

tr:hover {background-color: #454545;}

tr {
    background-color: #333333;
}

input[type="text"]
{
    font-size:30px;
}

input[type=radio] {
    height: 2em;
    margin-right: 12px;
}

p.red {
    color: orangered;
}

p.green {
    color: chartreuse;
}